[user]
	name = Andrei Vedovato
	email = vedovato.andrei@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim 
[credential]
	username = vedovato
	helper = osxkeychain
[pull]
	rebase = false
[init]
	defaultBranch = main
